@page "/login"
<PageTitle>Login</PageTitle>

@if (LoginHandler.LoggedIn is null) {
    <h2>Loading...</h2>
}
else if (LoginHandler.LoggedIn ?? false) {
    <h3>You are currently logged in as: @LoginHandler.Username</h3>
    <RadzenButton Variant="Variant.Outlined" Text="Sign Out" ButtonStyle="ButtonStyle.Secondary" Click=@SignOutBTN_Clicked />
}
else {
    <h2>Username:</h2>
    <RadzenTextBox Placeholder="Username..." Class="w-100" @bind-Value="@Username" />
    <br />
    <RadzenButton Variant="Variant.Outlined" Text="Log In" ButtonStyle="ButtonStyle.Primary" Click=@SignInBTN_Clicked />

}